@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}


/* HEADER PART CSS STARTING */

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #c9909a;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #070707;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: rgb(199, 248, 150);
    ;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #c9909a;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px #c9909a;
}

.nav-links li:hover .drop-menu {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.wrapper .btn {
    color: rgb(8, 8, 8);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.logo_1 {
    display: flex;
    color: rgb(7, 7, 7);
    text-align: center;
    align-items: center;
}

.logo_1 .ic {
    margin-top: 20px;
    margin-right: -30px;
    cursor: pointer;
    position: relative;
}

.logo_1 .ic span {
    height: 55px;
    width: 55px;
    display: block;
    background: rgb(249, 250, 249);
    border-radius: 60%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    z-index: 2;
    margin-top: 50px;
}

.logo_1 .ic span i {
    line-height: 55px;
    font-size: 30px;
    margin-bottom: 10px;
}

.logo_1 .ic .tooltip {
    background: rgb(185, 182, 182);
    position: absolute;
    margin-top: -10px;
    bottom: -0px;
    font-size: 15px;
    padding-top: -35px;
    padding-bottom: -35px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    color: #040404;
    font-weight: bold;
    pointer-events: none;
    opacity: 0;
}

.logo_1 .ic .tooltip::before {
    position: absolute;
    content: "";
    height: 36px;
    width: 10px;
    background: rgb(185, 182, 182);
    top: -8px;
    left: 33%;
    transform: translateX(-45%) rotate(45deg);
}

.logo_1 .ic:hover .tooltip {
    opacity: 1;
    bottom: 5px;
    margin-left: -10px;
    pointer-events: auto;
}


/* HEADER PART CSS RESPONSIVE WEBSITE CODE */

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }
    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #c9909a;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }
    /* custom scroll bar */
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: #e3e6ea;
    }
     ::-webkit-scrollbar-thumb {
        background: #474c51;
    }
    #menu-btn:checked~.nav-links {
        left: 0%;
    }
    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }
    #close-btn:checked~.btn.menu-btn {
        display: block;
    }
    .nav-links li {
        margin: 15px 10px;
    }
    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }
    #showDrop:checked~.drop-menu {
        max-height: 100%;
    }
    .nav-links .desktop-item {
        display: none;
    }
    .nav-links .mobile-item {
        display: block;
        color: #070707;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover {
        background: rgb(199, 248, 150);
    }
    .drop-menu li {
        margin: 0;
    }
    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }
}

nav input {
    display: none;
}


/* HEADER PART ENDING CSS */

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}


/* FOOTER PART STARTING CSS  */

footer {
    position: relative;
    top: 500px;
    width: 100%;
    background: #111;
    font-size: 15px;
}

.main-content {
    display: flex;
    color: #faf7f7;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 40px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 110px 0 0;
    position: relative;
}

.left .content p {
    text-align: justify;
}

.social {
    display: flex;
    color: rgb(211, 18, 156);
    text-align: center;
    align-items: center;
}

.social .icon {
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.social .icon span {
    height: 50px;
    width: 50px;
    display: block;
    background: rgb(249, 250, 249);
    border-radius: 60%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    z-index: 2;
}

.social .icon span i {
    line-height: 50px;
    font-size: 30px;
}

.social .icon .tooltip {
    background: rgb(185, 182, 182);
    position: absolute;
    bottom: -0px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    color: #090909;
    font-weight: bold;
    pointer-events: none;
    opacity: 0;
    transition: all .3s linear;
}

.social .icon .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: rgb(185, 182, 182);
    top: -8px;
    left: 45%;
    transform: translateX(-45%) rotate(45deg);
}

.social .icon:hover .tooltip {
    opacity: 1;
    bottom: -50px;
    pointer-events: auto;
}

.center .content .fas {
    font-size: 1.4340rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    margin-left: -100px;
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 600;
    padding-left: 10px;
}

.center .content .phone {
    margin: 10px 0;
}

.center .content .email {
    margin-top: 22px;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #faf7f7;
}

.bottom center a {
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}


/* FOOTER PART CSS RESPONSIVE WEBSITE CODE */

@media screen and (max-width: 768px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
    .main-content .left {
        margin-top: 100px;
    }
    .main-content .center {
        padding-left: 150px;
    }
    .main-content .right {
        padding-left: 250px;
    }
}


/* FOOTER PART ENDING */